//
//  Debug.xcconfig
//  NCCore
//
//  Created by Simon Strandgaard on 17/03/10.
//  Copyright 2010 opcoders.com. All rights reserved.
//

//BUILD_DIR = ../build
//PROJECT_TEMP_DIR = ../build

GCC_PREPROCESSOR_DEFINITIONS = _DARWIN_NO_64_BIT_INODE

GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = NO

//OTHER_LDFLAGS = -ObjC