ARCHS = ppc i386
DEBUG_INFORMATION_FORMAT = dwarf
PREBINDING = NO
ZERO_LINK = NO
LINK_WITH_STANDARD_LIBRARIES = YES
GCC_OPTIMIZATION_LEVEL = s
GCC_REUSE_STRINGS = YES
GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_WARN_INITIALIZER_NOT_FULLY_BRACKETED = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_UNINITIALIZED_AUTOS = NO
GCC_WARN_SHADOW = YES
GCC_WARN_SIGN_COMPARE = YES
GCC_WARN_ABOUT_POINTER_SIGNEDNESS = YES
GCC_WARN_ABOUT_MISSING_NEWLINE = YES
GCC_WARN_ALLOW_INCOMPLETE_PROTOCOL = YES
GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = YES
GCC_WARN_ABOUT_INVALID_OFFSETOF_MACRO = YES
