body {
	font-family: 'lucida grande', helvetica, arial, sans-serif;
	margin-left: 50px;
	margin-right: 50px;
	line-height: 1.3em;
	font-size: 0.75em;
}

.segmentedlist th {
	background-color: rgb(226, 226, 226);
	color: black;

/*	background-color: rgb(63, 63, 63);*/
/*	color: white;*/
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	white-space: nowrap;

	border-color: rgb(145, 150, 152);
    border-width: 1px 1px 0 0;
    border-style: solid;


	padding-top: 0.7em;
	padding-bottom: 0.7em;
}

.segmentedlist td {
	padding-left: 10px;
	padding-right: 10px;
	vertical-align: top;
}

.segmentedlist .oddrow {
/*	background-color: rgb(220, 220, 220);*/
}

.segmentedlist td {
	border-color: rgb(145, 150, 152);
    border-width: 1px 1px 0 0;
    border-style: solid;

/*	border-bottom: 1px solid rgb(127, 127, 127);*/
	padding-top: 0.7em;
	padding-bottom: 0.7em;
}

.segmentedlist table {
	border-color: rgb(145, 150, 152);
    border-width: 0 0 1px 1px;
    border-style: solid;

/*	border: medium double red; 
	border-collapse: separate; 
	border-spacing: 9pt 4pt;
*/	
	border-collapse: collapse;
}

.simplelist td {
	width: 19em;
}

.toc .refentrytitle {
	width: 8em;
	float: left;
}