//
//  Release.xcconfig
//  NCCore
//
//  Created by Simon Strandgaard on 17/03/10.
//  Copyright 2010 opcoders.com. All rights reserved.
//
//BUILD_DIR = ../build
//PROJECT_TEMP_DIR = ../build

ARCHS = i386
GCC_OPTIMIZATION_LEVEL = 0



GCC_PREPROCESSOR_DEFINITIONS = _DARWIN_NO_64_BIT_INODE

INSTALL_PATH = @rpath

GCC_WARN_ABOUT_DEPRECATED_FUNCTIONS = NO